  h2 {
    font-size: 28px;
    color: #C96939;
    margin-bottom: 20px;
  }
  
  p {
    color: #31190D;
    line-height: 1.6;
    font-size: 16px;
  }
  
  .banner {
    width: 100%;
    position: relative;
  }
  
  .banner img {
    width: 100%;
    display: block;
    object-fit: cover; 
  }
  
  #zafiro-eventos,
  #imagenes, 
  #perspicazz {
    margin-bottom: 150px; 
  }
  
 #familia{
  margin-top: 150px;
  margin-bottom: 100px; 
}

