@keyframes slideIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .banner,
  .card {
    animation: slideIn 1s ease forwards;
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
  }
  
  .card:nth-child(odd) {
    animation-delay: 0.5s; 
  }

  .card-text {
    font-family: 'Libre Baskerville', serif; 
    color: #31190D; 
  }
  
  .section-title {
    color: #C96939; 
    font-family: 'Libre Baskerville', serif; 
  }
  
  .perspicaz-card {
    border-radius: 10px;
    background-color: #EADFCD; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
  .card-title {
    color: #31190D;
  }
  
  .dedication {
    color: #31190D; 
    font-style: italic; 
    margin-top: 30px; 
  }
  .notas-degustacion {
    color: #C96939; 
  }
  
  